.box{
    height: 40px;
    overflow: hidden;
    background-color: rgb(237, 133, 188);
    text-align: center;
    width: 100%;
    position: fixed;
    font-size: 33px;
}

.box span{
    display: block;
    height: 40px;
    color: white;
    
}

.bar{
    background-color: pink;
    animation: progress-bar 5s ease-in-out;
    animation-fill-mode: both;
    color: white;
}

.text {
    background: transparent;
    
}

@keyframes progress-bar {
    0% {
        width: 0%; 
    }
    100% {
        width: 100%;
    }
}
