@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Grey+Qo&family=Karla:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Karla:ital,wght@1,300&display=swap');

body {
    max-width: 40rem;
    margin: 0 auto;  
    font-family: 'Fuzzy Bubbles',sans-serif;
    background:rgb(250, 245, 245);
    color:rgb (240, 240, 240);

}

p {
    font-family: 'Karla',sans-serif;
}

header{
    text-align: center;
    padding: 2rem;
    font-size: 50px;
    color: rgb(237, 133, 188);
    font-family: 'Fuzzy Bubbles',sans-serif;
}

header h1{
    margin: 0;
    background: rgb;
    font-size: 3rem;
    font-family: 'Fuzzy Bubbles',sans-serif;
    
}

header h2 {
    font-weight: 400;
    font-family: 'Fuzzy Bubbles',sans-serif;
}

nav {
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Fuzzy Bubbles',sans-serif;
}
nav a {
    margin: 0 1rem;
    color: rgb(245, 198, 220 ); 
    font-size: 1.5rem;
    line-height: 2em;
    
}

nav a:hover{
    color: rgb(237, 142, 187)
}

main {
    background: rgb(233, 210, 175);
    max-width: 40rem;
    margin: 0 auto;
}

/* Changes all the images*/
img {
    width: 100%;
    max-width: 40rem;
    max-height: 12rem;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
}

h1 img {
    width: 100%;
    max-width: 20rem;
    max-height: 12rem;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
}

section {
    margin: 3rem 0;
}

section img {
    width: 100%;
    max-width: 60 rem;
    margin: 0 auto;
    display: block;
    margin-bottom: 70px;
}
section h3{
    font-size: italic; 
    background: rgb(60, 60, 60);
    margin: 0;
    padding: .5rem;
}

section p {
    background: rgb(235, 201, 150);
    margin: 0;
    text-align : center;
}
footer p{
    background: rgb(40, 40, 40);
    margin: 0;
    padding: 2rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h3 {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.dessertImages {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 800px;
    margin-bottom: 2px;
}

h1 {
    text-align: center;
    font-size: 18px;
}

p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 70px;
}