.box{
    height: 500px;
    overflow: hidden;
    background-color: lightblue;
    text-align: center;
    width: 100%;
    position: relative;
    font-size: 430px;
}

.box span{
    display: block;
    height: 100%;
    color: white;
    
}

.bar{
    background-color: pink;
    animation: progress-bar 10s ease-in-out;
    animation-fill-mode: both;
    color: white;
}

@keyframes progress-bar {
    0% {
        width: 0%; 
    }
    100% {
        width: 100%;
    }
}
