.heart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .heart .waiting{
    animation: rotate 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
  }
  @keyframes rotate {
    50%{
      transform: rotate(360deg);
    }
    100%{
      transform: rotate(720deg);
    }
  }
  .waiting span{
    position: absolute;
    display: block;
    height: 35vw;
    width: 35vw;
    background: pink;
    border: 1px solid pink;
    border-radius: 100%;
  }
  .waiting span:nth-child(1){
    transform: translate(-15vw, -15vw);
  }
  @keyframes piece1 {
    60%{
      /*transform: scale(0.4); */
    }
  }
  .waiting span:nth-child(2){
    transform: translate(15vw, -15vw);
   
  }
  @keyframes piece2 {
    40%{
      /*transform: scale(0.4);*/
    }
  }
  .waiting span:nth-child(3){
    position: relative;
    border-radius: 0px;
    transform: rotate(-45deg);
  }
  @keyframes piece3 {
    50%{
      border-radius: 100%;
      transform: rotate(-45deg);
    }
    100%{
      transform: scale(0.5) rotate(-45deg);
    }
  }

  h1 {
    opacity: 0;
    -webkit-animation: flash 3s;
    animation: flash 3s;
    font-size: 50px;
    text-align:center;
    margin-top: 6%;
    animation-iteration-count: infinite;
    color:plum;

  }

  @keyframes flash {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }